body {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  justify-self: center;
  align-items: center;
}
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}

#weather {
  position: absolute;
  color: #fff;
  top: 5px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  img {
    filter: invert(50%);
    width: 20%;
    margin-right: 5px;
  }
  li:first-child {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  li:last-child {
    margin-top: -10px;
  }
}
.container {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 60vh;
}
#clock {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 50px;
}
#login-form {
  margin: 20px;
  input {
    padding: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background: none;
    border: none;
    color: #fff;
    outline: none;
    border-bottom: 1px solid #fff;
  }
  // width: 100vh;
}
#greeting {
  color: #fff;
  font-size: 50px;
  margin-bottom: 40px;
}
#todo-form {
  width: 100%;
  margin-bottom: 10px;
  input {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 25%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
  }
}
#todo-list {
  width: 27%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  & li:first-child {
    margin-top: 10px;
  }
  li {
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    span {
      word-break: break-word;
      margin: 10px 20px 10px;
      font-weight: 500;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    button {
      outline: none;
      border: none;
      background: none;
    }
  }
}
#quote {
  color: #fff0f0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}
::placeholder {
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  height: 100px;
}
#logout {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
